body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000101;
  background: rgb(42, 235, 237);
  background: linear-gradient(
    90deg,
    rgba(98, 215, 207, 1) 0%,
    rgba(90, 183, 217, 1) 50%,
    rgba(78, 142, 229, 1) 100%
  );
}

h1 {
  font-size: 30px;
  width: 80%;
}

.container {
  margin: 50px auto;
  padding: 15px 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  width: fit-content;
  height: fit-content;
  min-width: 415px;
  min-height: 425px;
  background-color: white;
  position: relative; 
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.068);
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.task-input {
  box-sizing: border-box;
  display: block;
  width: 99%;
  height: 40px;
  padding: 5px 10px;
  margin-right: 1%;
  border-radius: 2px;
  border: 2px solid rgb(242, 242, 242);
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input:focus {
  box-shadow: 5px 0px 2px 0px rgb(242, 242, 242) inset;
}

.add-button {
  box-sizing: border-box;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgb(141, 76, 232);
  border: none;
  outline: none;
  border-radius: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(250, 253, 255);
}

.add-button:hover {
  box-shadow: -5px 0px 2px 0px rgba(34, 3, 77, 0.61) inset;
  transition: 0.2s;
}

.add-button:active {
  border: none;
  background-color: rgb(175, 135, 231);
}

.add-button .material-icons {
  line-height: 40px;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0 70px;
}

.task {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  padding-left: 10px;
  background-color: rgb(242, 242, 242);
  border-radius: 2px;
}

.task-point {
  flex-grow: 1;
  margin: 0 10px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  border-radius: 0px;
}

.task-point:focus {
  box-shadow: none;
}

.delete-button {
  box-sizing: border-box;
  display: block;
  justify-self: flex-end;
  width: 40px;
  height: 40px;
  background-color: rgb(235, 75, 63);
  border: none;
  border-radius: 2px;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  transition: 0.2s;
}

.delete-button .material-icons {
  font-size: 20px;
  color: rgb(242, 242, 242);
}

.delete-button:hover {
  box-shadow: -5px 0px 2px 0px rgba(187, 12, 0, 0.425) inset;
  transition: 0.2s;
}

.delete-button:active {
  border: none;
  background-color: rgb(248, 187, 164);
}

input[type="checkbox"] {
  display: block;
  width: 18px;
  height: 18px;
  background-color: rgb(248, 248, 248);
  border: none;
  outline: none;
  border-radius: 5px;
  color: rgb(137, 243, 146);
}

input[type="checkbox"]:focus {
  box-shadow: none;
}

.completed {
  text-decoration: line-through;
}

.footer {
  width: calc(100% - 50px);
  height: 40px;
  margin: 15px auto 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute; 
  bottom: 0; 
}

.footer p{
  flex-grow: 1;
}

.clear-all {
  display: block;
  height: 40px;
  background-color: rgb(141, 76, 232);
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 0 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(250, 253, 255);
}

.clear-all:hover {
  box-shadow: 0px 0px 4px 0px rgba(34, 3, 77, 0.61) inset;
  transition: 0.2s;
}

.clear-all:active {
  border: none;
  background-color: rgb(175, 135, 231);
}
